body {
  font-family: sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 300vh;
  position: relative;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}





img{
  position: absolute;
  width: 100%;
  height: 100%;
}

h2{
  position: absolute;
  top: 100px;
}

.h2{
  position: absolute;
  bottom: 100px;
  background: blueviolet;
  color: white;
  padding: .4em 1.3em;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 7px;
  font-size: 20px;
}

.h2:hover{
  background: hotpink;
  transition-duration: .5s;
}



.right-text{
  color: rgb(104, 101, 101);
  line-height: 1.8rem;
}


.app{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: white;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  position: relative;
}

.elem {
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  box-shadow: 2px 2px 30px #fff,-3px -3px 4px gray;
  overflow: hidden;
  border-radius: 7px;
}

.reveal {
  transform: translateY(-30px);
  opacity: 0;
}

[class*="reveal-"]
{
  opacity: 0;
  transform: translateY(30px);
}


.reveal-1{
  transition-delay: .3s;
}

.reveal-2{
  transition-delay: .4s;
}

.reveal-3{
  transition-delay: .5s;
}

.reveal-visible {
  transform: translateY(0);
  opacity: 1;
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
